<ion-view view-title="Domain" ng-controller="DomainCtrl">
  <ion-header-bar class="bar-stable">
  <h1 class="title">Domain</h1>
  <button class="button button-positive" ng-click="goMap(domains)">GO MAP</button>
</ion-header-bar>
<ion-content>
<ion-checkbox ng-model="domains.domainbus">รถโดยสารประจำทาง</ion-checkbox>
<ion-checkbox ng-model="domains.domaintour">รถโดยสารทางไกล</ion-checkbox>

 <br>
Bus =={{domains.domainbus}}<br>
Tour =={{domains.domaintour}}<br>
 ======
	<p id="deviceProperties">Loading device properties...</p>

</ion-content>


</ion-view>