<ion-view view-title="Home" ng-controller="HomeCtrl">
  <ion-header-bar class="bar-stable bar-positive" align-title="left">
  <h1 class="title">Home</h1>
</ion-header-bar>
<ion-content>
  <div class="item item-center item-toggle">
    เลือกสายรถโดยสารที่ต้องการติดตาม

         <span style="padding-left: 70px">Auto Tracking</span>
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
    
  </div>

<div class="row">
  <div class="col">
    <div class="card">
      <button class="button-block item item-text-wrap item-energized">
        A12
      </button>
  </div>
  </div>
  <div class="col">
    <div class="card">
      <button class="button-block item item-text-wrap item-energized">
        A13
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <button class="button-block item item-text-wrap item-energized">
        B14
      </button>
  </div>
  </div>
  <div class="col">
    <div class="card">
      <button class="button-block item item-text-wrap item-energized">
        B15
      </button>
    </div>
  </div>
</div>

 <div class="item item-text-wrap">
      <!-- <label>สายรถที่ต้องการแชร์</label> -->
      <input type="number" ng-model="model.transportRoute" placeholder="ระบุสายรถที่ต้องการแชร์" />
 </div>
 <br>

<button class="button button-full button-balanced" ng-click="shareLocation()"><label class="button-icon ion-android-share"></label> Share Location</button>

</ion-content>

<ion-footer-bar class="tabs bar-positive">
  <a class="tab-item active" ng-click="goHome()">
   <span class="ion-ios-home"></span> Home
  </a>
  <a class="tab-item" ng-click="goMap(domains)">
  <span class="ion-map"></span> Map
  </a>
  <a class="tab-item" ng-click="goProfile()">
  <span class="ion-person"></span> Profile
  </a>
</ion-footer-bar>


</ion-view>