<ion-view view-title="Map" ng-controller="MapCtrl">
  <ion-header-bar class="bar-stable bar-positive" align-title="left">
  <h1 class="title">Map</h1>
  <!-- <button class="button button-icon ion-android-settings" ng-click="clearAllNode()"></button> -->
  <button ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Current Locaion</button>
  </ion-header-bar>

<ion-content>
<map on-create="mapCreated(map)"></map>

</ion-content>


<ion-footer-bar class="tabs bar bar-positive">
  <a class="tab-item" ng-click="goHome()">
   <span class="ion-ios-home"></span> Home
  </a>
  <a class="tab-item" ng-click="goMap()">
  <span class="ion-map"></span> Map
  </a>
  <a class="tab-item" ng-click="goProfile()">
  <span class="ion-person"></span> Profile
  </a>
</ion-footer-bar>

</ion-view>
