<ion-view view-title="Map" ng-controller="MapCtrl">
  <ion-header-bar class="bar-stable" >
  <button class="button ion-chevron-left button-positive" ng-click="goDomain()">  Back</button>
  {{poss.timestamp | date:'yyyy-MM-dd HH:mm:ss'}} 
  <h1 class="title">Map</h1>

  </ion-header-bar>

<ion-content scroll="false">
<map on-create="mapCreated(map)"></map>

</ion-content>

<ion-footer-bar class="bar-stable">
<button ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></button>
<label class="item item-input">
  <input type="text" placeholder="แชร์สายรถโดยสาร" size="20" >
</label>

<button class="button button-icon ion-android-share" ng-click="ShareLocation()"></button> 

</ion-footer-bar>

</ion-view>
