<ion-view view-title="Profile" ng-controller="ProfileCtrl">
  <ion-header-bar class="bar-stable bar-positive" align-title="left">
  <h1 class="title">Profile</h1>
  </ion-header-bar>

<ion-content  padding="false">
<div class="list">
  <div class="item item-thumbnail-left">
    <img src="img/business-person-blue-md.png">
    <div class="row">
      <button class="col button button-clear">
        <h2>{{trust}}</h2>
        <h5>Trust Point</h5>
      </button>
    </div>
    <button class="button button-block button-small button-outline button-stable" ng-click="openModal()">
      Edit Favorites
    </button>
  </div>
</div>
  <div class="item">
    My Favorites
  </div>

<div class="row" ng-repeat="rows in chunkedData">
  <div class="col" ng-repeat="item in rows">
    <div class="card">
      <button class="button-block item item-text-wrap item-energized">
        {{item.name}}
      </button>
  </div>
  </div>
</div>

<script id="modal-favorite" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-positive">
      <h1 class="title">Edit Favorites</h1>
      <button class="button ion-close-round" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content>

      <div class="card" ng-repeat="(index , item) in object">

      <div class="item item-divider">
          #{{$index+1}} <button style="float: right" class="button button-small button-assertive" ng-click="removeCard($index)">X</button></div>
      

        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">
              <label class="item item-input item-select">
                <div class="input-label">
                  ประเภทรถ
                </div>
                <select ng-model="model.type[$index]">
                  <option ng-selected="item.type==='bus'" value="bus">Bus</option>
                  <option ng-selected="item.type==='tour'" value="tour">Tour</option>
                </select>
              </label>
            </li>
            <li class="item">
              <div class="list">
                <label class="item item-input ">
                <div class="input-label">
                    สายรถ
                  </div>
                  <input type="text" min="0" ng-model="item.name">
                </label>
            </li>
          </ul>
        </div>
      </div>

      <button class="button button-full button-balanced" ng-click="saveModal()">Save</button>

    </ion-content>
  </ion-modal-view>
</script>

</ion-content>


<ion-footer-bar class="tabs bar-positive">
  <a class="tab-item" ng-click="goHome()">
   <span class="ion-ios-home"></span> Home
  </a>
  <a class="tab-item" ng-click="goMap()">
  <span class="ion-map"></span> Map
  </a>
  <a class="tab-item active" ng-click="goProfile()">
  <span class="ion-person"></span> Profile
  </a>
</ion-footer-bar>


</ion-view>
